@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Sports Tracking</h1>
        <p class="lead">Track your sports activities and analyze your performance over time.</p>
        <hr class="my-4">
        <p>Use our easy tracking system to log your training sessions and view detailed summaries.</p>
        <a class="btn btn-primary btn-lg" href="sportsdashboard" role="button">Go to Sports Dashboard</a>
    </div>
</div>
