@page "/sportstest"
@namespace SportsTracking.Pages

<PageTitle>Sports Test Page</PageTitle>

<h1>Sports Test Page</h1>

<p>This is a test page to see if routing works.</p>

<a href="sportsdashboard" class="btn btn-primary">Go to Sports Dashboard</a> 